# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/
!.vscode/settings.json

# Environment
.env
.venv
venv/

# Data
data/raw/*
data/processed/*
data/filtered_complaints.csv
!data/raw/.gitkeep
!data/processed/.gitkeep
vector_store/*
!vector_store/.gitkeep

# Mac
.DS_Store
