pandas
numpy
matplotlib
seaborn
scikit-learn
langchain
langchain-community
chromadb
sentence-transformers
gradio
streamlit
pytest
jupyter
ipykernel
python-dotenv
huggingface-hub
pyarrow
langchain-text-splitters
sentence-transformers
faiss-cpu
torch
